
.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }

  body{


    background-color: rgb(187, 180, 176);
}


  a{
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: black;
    letter-spacing: 5px;
    
    background-color: rgb(91, 163, 139) 100px;
    
    }
    nav{
   
        background-color: #e7dcdc; /* Cor do fundo do menu */
        padding: 10px;
        letter-spacing: 25px;
        text-align: center;
    
    }
    

    a:hover{

        color: rgb(44, 65, 95);
        }
        
        footer{

          text-align: center;
        }




        .btn {
            position: relative;
            padding: 15px 30px;
            font-size: 18px;
            color: white;
            background-color: #349;
            border: none;
            border-radius: 10%;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }
        
        .btn::after {  
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300%;
            height: 300%;
            background: rgba(255, 255, 255, 0.5); 
            transition: width 0.5s, height 0.5s, opacity 0.5s; 
            border-radius: 50%;
            transform: translate(-50%, -50%); 
        }
        
        .btn:active::after {
            width: 0;
            height: 0;
            opacity: 0;
            transition: 0s; 
        }