a{
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: black;
    letter-spacing: 5px;
    
    background-color: rgb(91, 163, 139) 100px;
    
    }
    
    
    
    h1{
    
    margin-top: 5%;
        text-align: center;
    }
    
    
    p{
    margin-top:4%;
    text-align: center;
    font-size: larger;
    
    }
    
    nav{
       
        background-color: #e7dcdc; /* Cor do fundo do menu */
        padding: 10px;
        letter-spacing: 25px;
        text-align: center;
    
    }
    
    body{


        background-color: rgb(187, 180, 176);
    }
    
    .sessao-descricao{
    display: flex;
    font-size: small;
    text-align: right 50px;
    font-size: 16px; /* Defina o tamanho da fonte */
    display: inline-block;  /* Faz com que a imagem e o texto fiquem na mesma linha */
      vertical-align: middle;  /* Alinha verticalmente a imagem e o texto ao centro */
    }
    
    a:hover{
    
    color: rgb(44, 65, 95);
    }
    
    
    
    
    
    img,.content1,.content2,.content3 {
        display: flex; /* Usando Flexbox */
        align-items: center; /* Alinha o conteúdo verticalmente ao centro */
        gap: 20px; /* Espaçamento entre a imagem e o texto */
        width: 550px; /* Tamanho da imagem */
        flex-direction: row-reverse;
        margin-right: 10px;
        margin-top: 10%;
        display: inline-block;  /* Faz com que a imagem e o texto fiquem na mesma linha */
        vertical-align: middle;  /* Alinha verticalmente a imagem e o texto ao centro */
    }
    
    
    .sessao-minibanner {
        width: 300px;
        height: 400px;
        background-image: url('./imagens/imagem\ de\ fundo.jpeg');
        background-position: center;
        background-size: cover;
        float: left;
    }


    
.footer{


    text-align: center;
}
