.paragrafo-mara{
    font-size: larger;
    text-align: center;
    justify-content: center;
}


    a,p,strike,font,span,td {

color: green;

    }


    img{
    width: 100px;
    height: 200%;
    text-align: left;
    }