body{

background-color: rgb(194, 235, 235);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        text-align: center;
    }
    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        text-align: center;
    }
    nav,a{
        letter-spacing: 10px;
        text-decoration: none;
    }   
    body {
        background-image: url imagem/rabisco.jpg /* Caminho para a imagem */
        background-size: cover; /* A imagem irá cobrir toda a área do fundo */
        background-position: center; /* A imagem será centralizada */
        background-attachment: fixed; /* A imagem ficará fixa ao rolar a página */
        height: 100vh; /* Garante que a altura da página ocupe toda a altura da janela */
        margin: 0; /* Remove a margem padrão do body */
    }
    
    


