/* estilos/style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #0073e6;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    margin: 20px 0;
}

.alphabet-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.alphabet-links li {
    list-style-type: none;
}

.alphabet-links a {
    text-decoration: none;
    color: #0073e6;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.alphabet-links a:hover {
    background-color: #0073e6;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0073e6;
    color: white;
}

footer iframe {
    border-radius: 5px;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
    .alphabet-links {
        flex-direction: column;
        align-items: center;
    }
}
